APP_URL=https://broker-suporte.hirableaiagents.com
OPERATOR_EMAIL=operator@hirableaiagents.com
RELAY_HOST=relay-suporte.hirableaiagents.com
RELAY_SSH_PORT=22
RELAY_TRANSPORT=cloudflare
DEFAULT_ACCESS_DURATIONS=15,30,60,120
